target/
!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
build/
.gradle/
bin/
out/

**/target/surefire-reports/
**/target/failsafe-reports/
**/build/test-results/
**/build/reports/tests/

*.log
logs/

.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.vscode/

.DS_Store
Thumbs.db
.env
.env.local